services:
  db:
    image: postgres:17.6
    restart: unless-stopped
    ports:
      - 25432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - .env

volumes:
  postgres-data:
